/* Font Styles Files Uplodding */
/* Font Styles Files Uplodding */
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BlackOblique";
  src: url("../fonts/AvenirLTStd-BlackOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BookOblique";
  src: url("../fonts/AvenirLTStd-BookOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../fonts/AvenirLTStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/AvenirLTStd-Light.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-HeavyOblique";
  src: url("../fonts/AvenirLTStd-HeavyOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-LightOblique";
  src: url("../fonts/AvenirLTStd-LightOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-MediumOblique";
  src: url("../fonts/AvenirLTStd-MediumOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Oblique";
  src: url("../fonts/AvenirLTStd-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("truetype");
}
/* Common Styles Start from Here */
html {
  font-size: 14px;
}
body {
  @include margin(0, 0, 0, 0);
  // @include size(null, 100vh);
   font-family: "AvenirLTSTD-Roman", sans-serif !important;
  // font-family: AvenirLTStd-Black;
  // background-color: $table-body;
  background-color:#e0e1e2 !important;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
button {

    outline: none !important; 
    box-shadow: none !important;
    border: none !important;
  
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.AvenirLTStd-BlackOblique {
  font-family: "AvenirLTStd-BlackOblique", sans-serif !important;
}
.AvenirLTStd-BookOblique{
  font-family: "AvenirLTStd-BookOblique", sans-serif !important;
}
.AvenirLTStd-Book {
  font-family: "AvenirLTStd-Book", sans-serif !important;
}
.AvenirLTStd-Heavy{
  font-family: "AvenirLTStd-Heavy", sans-serif !important;
}
.AvenirLTStd-Light{
  font-family: "AvenirLTStd-Light", sans-serif !important;
}
.AvenirLTStd-HeavyOblique{
  font-family: "AvenirLTStd-HeavyOblique", sans-serif !important;
}
.AvenirLTStd-LightOblique{
  font-family: "AvenirLTStd-LightOblique", sans-serif !important;
}
.AvenirLTStd-Medium{
  font-family: "AvenirLTStd-Medium", sans-serif !important;
}
.AvenirLTStd-Oblique{
  font-family: "AvenirLTStd-Oblique", sans-serif !important;
}
.AvenirLTStd-Roman{
  font-family: "AvenirLTStd-Roman", sans-serif !important;
}
ul{
  list-style-type: none;
}
.bg-dark {
  background-color: #343a40!important;
}
.bg-blue{
  background-color: #1690d1;
  }
.color-white{
  color: $white;
}
.bg-grey-l{
  background-color: #f7fafc !important;
}
.bg-white{
  background: $white;
}
.container-wrapper{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: rgb(128 128 128 / 0.8);
  color: $white;
  
}
.tab-list-content{
  &:hover{
    background-color: rgb(128 128 128 / 0.8);
    color: $white;
  }
}
.width-180{
  width: 180px;
}
.width-190{
  width: 190px;
}
.padding-left-15{
  padding-left: 15px;
}
.margin-left-15{
 margin-left: 15px;
}
.visibility-hidden{
  visibility: hidden;
}
.height-50{
  height: 50px;
}
.material-icons{
  cursor: pointer;
}
.create-ps-button{
  width: 180px;
  height: 40px;
  background: none;
  background-color: rgba(111, 139, 164, 0.2);
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: normal;
  color: #145194!important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.right-icon {
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 9;
  color: #343a40; }
// ng-autocomplete code
form{


.autocomplete-container{
  box-shadow: none;
  height: 35px;
}
.autocomplete-container .input-container input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: 0;
  background-color: #e9ecef;
  // color: rgba(0,0,0,.87);
  width: 100%;
  padding: 0 11px;
  line-height: 35px;
  height: 35px;
  box-shadow: 2px 2px 3px #ccc;
  color: #808080 !important;
}
.autocomplete-container .suggestions-container ul li a {
  padding: 3px 15px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: rgba(0,0,0,.87);
  font-size: 13px;
}
.autocomplete-container .input-container .x{
  right: 0px;
}
.phone-select{
  .autocomplete-container .input-container input {
    padding: 0 5px 0 13px;
  }
}


}

// Auto complete code
.table td, .table th {
  padding: 12px 12px !important;
  vertical-align: middle;
  // border-top: 1px solid #dee2e6;
}
.bg-blue-light{
  background: #00adf0 !important;
  &:hover{
    background: #00adf0 !important;
  }
}

.icons{
  cursor: pointer;
  background-color: #145194;
  color: #fff;
  width: 30px;
  height: 30px;
  // font-size: 15px;
  border-radius: 2px;
  background-color: #e0e3e4;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:945px){
  .display-none-sm{
    display: none !important;
  }

}
@media(max-width:768px){
  .d-none-sm{
    display: none;
  }
}
@media(max-width:420px){
  .container-wrapper{
    padding: 0;
  }
}

.white-space-nowrap{
  white-space: nowrap;
}

.width-200{
  width: 200px;
}

// ==================scroll styles=================

/* width & height*/
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px;
}

// / Track /
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(226, 226, 226); 
  border-radius: 10px;
}
 
// / Handle /
::-webkit-scrollbar-thumb {
  background: rgb(202, 201, 201); 
  border-radius: 10px;
}

// / Handle on hover /
::-webkit-scrollbar-thumb:hover {
  background: #acacac; 
}

// ==================scroll styles=================

// .table-responsive {
//   width: 100%;
//   margin-bottom: 15px;
//   overflow-y: hidden;
//   -ms-overflow-style: -ms-autohiding-scrollbar;
//   border: 1px solid #ddd;
// }
// .table-responsive > .table {
//   margin-bottom: 0;
// }
// .table-responsive > .table > thead > tr > th,
// .table-responsive > .table > tbody > tr > th,
// .table-responsive > .table > tfoot > tr > th,
// .table-responsive > .table > thead > tr > td,
// .table-responsive > .table > tbody > tr > td,
// .table-responsive > .table > tfoot > tr > td {
//   white-space: nowrap;
// }
// .table-responsive > .table-bordered {
//   border: 0;
// }
// .table-responsive > .table-bordered > thead > tr > th:first-child,
// .table-responsive > .table-bordered > tbody > tr > th:first-child,
// .table-responsive > .table-bordered > tfoot > tr > th:first-child,
// .table-responsive > .table-bordered > thead > tr > td:first-child,
// .table-responsive > .table-bordered > tbody > tr > td:first-child,
// .table-responsive > .table-bordered > tfoot > tr > td:first-child {
//   border-left: 0;
// }
// .table-responsive > .table-bordered > thead > tr > th:last-child,
// .table-responsive > .table-bordered > tbody > tr > th:last-child,
// .table-responsive > .table-bordered > tfoot > tr > th:last-child,
// .table-responsive > .table-bordered > thead > tr > td:last-child,
// .table-responsive > .table-bordered > tbody > tr > td:last-child,
// .table-responsive > .table-bordered > tfoot > tr > td:last-child {
//   border-right: 0;
// }
// .table-responsive > .table-bordered > tbody > tr:last-child > th,
// .table-responsive > .table-bordered > tfoot > tr:last-child > th,
// .table-responsive > .table-bordered > tbody > tr:last-child > td,
// .table-responsive > .table-bordered > tfoot > tr:last-child > td {
//   border-bottom: 0;
// }