.title {
    display: flex;
    align-items: center;
    @include msize(null, 50px);
    // @include padding(null, null, null, 30px);
}
.ps-registration-tabs-container {
    @include margin(10px, null, 10px, null);
    // box-shadow: 2px 2px 3px #ccc;
}
option {
    background: white;
    height: 40px;
}
.tab-list-content {
    color: #ffffff;
    background: #145194;
    text-decoration: none;
    border-style: none;
    height: 45px;
    vertical-align: middle;
    border: 0;
    font-size: 18px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    &:hover {
        color: $white;
    }
}

.nav-tabs .nav-link {
    border: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.tab-list {
    min-width: Calc(100%/5);
    a {
        padding: 0 !important;
    }
}
.form-control {
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16) !important;
}
.lastName,.firstName{
    text-transform: capitalize;
}
.gender-title {
    justify-content: flex-end;
    padding-right: 20px !important;
}
.site-container{
    display: flex;
    align-items: center;
    width:300px;
    padding-left: 8px;
    padding-bottom: 8px;

}
.site-label{
    margin-right: 15px;
}
label {
    margin-bottom: 0 !important;
    font-size: 15px;
    padding: 0 !important;
}
.form-control {
    height: 35px !important;
    background-color: #e9ecef !important;
    border: 0 !important;
    outline: none;
    box-shadow: none;
    font-size: 15px;
    box-shadow: 2px 2px 3px #ccc;
    color: #808080 !important; 
    &:focus {
        border: 0;
        outline: none;
        box-shadow: 2px 2px 3px #ccc;
    }
    &::placeholder{
        color: #808080;
    }
}
.zip-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    cursor: pointer;
}
.next {
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.previous {
    padding-left: 15px;
    display: flex;
    align-items: center;
}
.btn-next {
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #76bd43 !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 8px;
    &:hover{
        background-color: #76bd43;
    }
}
.remove-item{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // background: $white;
}
.address-title{
    padding-left: 15px;
}
.diagnosis-code-table{
    // min-width: 711px;
td{
    // width: Calc(100%/3);
    // border-right: 1px solid #dee2e6;
}
}
.diagnosis-code-table{
thead{
    color: #fff;
    background-color: #145194;
    th{
        font-size: 18px;
        // min-width: 30px;
        white-space: nowrap;
    }
}
}
.material-icon-remove{
    color: red;
    // transform: rotate(45deg);
    // font-size: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.phone-select{
    // width: 120px !important;
    margin-right: 10px;
}
.tab-content{
    .ps-registration-tabs-container {
        @include margin(0px, null, 0px, null);
    }
    .title{
        display:none;
    }
    .container-wrapper{
        padding: 0 !important;
    }
}
.errors{
    position: absolute;
    bottom: -5px;
}
.icd-table-container{
   max-height: Calc(100vh/3);
}
@media(max-width:767px) {
    .tab-list {
        width: 50%;
    }

    .gender-title {
        justify-content: start;
    }

    .date-input {
        // padding-right: 15px !important;
    }

    .padding-l-5 {
        padding-left: 5px !important;
    }

}
@media(max-width:580px) {
    // .firstname {
    //     padding-right: 0 !important;
    // }
    // .firstname,.lastname{
    //     padding: 0 !important;
    // }
}
@media(max-width:420px) {
    .tab-list {
        width: 100%;
    }
    .btn-next {
    
        width: 65px;
    }
    .add-diagnsis-button{
        width: 120px;
    }
}

.width-100{
width: 100px;
}
.width-200{
    width: 200px;
}



form{
    .phone-container{
        width: Calc(100%/2.5);
        .phone-select{
            width: 98% !important;
        }
    }
}







@media(max-width:991px){
    form{
        .phone-container{
            width: 217px;
            .phone-select{
                width: 147px !important;
            }
        }
    } 
}