.custom-tooltip-icon {
    a {
        i {
            color: $text;
        }
    }
}


    .tooltip{
        .tooltip-arrow{
          &::before {
              
            //   border-width: .4rem .4rem .4rem 0;
              border-right-color: #145194;
            // border-top-color: #145194;
          }
        }
        .tooltip-inner{
                /* max-width: 200px; */
                padding: 5px 10px;
                font-size: 15px;
  text-align: center;
font-weight: 800;
  border-radius: .25rem;
  background-color: #145194;
  color: #ffffff;
  display: flex;
  align-items: center;
        }
    }
